h2{
    background-color: chocolate;
}
h3{
    background-color: cornflowerblue;
}
h3{
    background-color: crimson;
}
h4{
    background-color: rgb(113, 139, 0);
}
h5{
    background-color: darkgreen;
}
$redes:(
    email: #55acee,
    whatsapp:  #3a5795,
); 

@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
 }
 $estilos: (
  color: #3673D9,
  centro: center,
  Fuente: 35px,
  1rem : 1rem
);

div {
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: map-get($estilos, 1rem);
  font-size:map-get($estilos, Fuente);
}


 .boton {
	width:20px;
	height:50px;
	background-color:white;
	text-align:center;
	color:black;
	border-radius:20px;
	border:1px solid black;
}

.footer{
	@extend .boton;
	background-color:green;
	color:yellow;
}

.anuncio{
	@extend .boton;
	background-color:red;
	color:yellow;
}
@mixin sizes($width, $height) {
    height: 10px;
    width: 10px;
 }
 .box {
    @include sizes(50px, 50px);
 }
 
 